.card-content {
    background-color: #fff;
}

.card-content {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.card--content {
    background-color: #e74c3c;
    margin: 0px 75px 0 75px;
}


.card-content {
    overflow-x: auto;
}

.card-content::-webkit-scrollbar {
    display: none;
}